@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.button{
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.input {
  width: 60px;
  text-align: right;
  margin-right: 0.1rem;
  padding-top: 0.2rem;  
}
.memo {
  width: 500px;
  text-align: left;
  margin-right: 0.1rem;
  margin-top: auto;
  margin-bottom: -0.8rem;

}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
